@using TexnoStoreWebCore.Models

@model BaseModel
<div class="col-md-4 col-xs-6">
								<div class="product">
									<a href="@Url.Action("ProductName","Home", new { productId= @Model.ProductId, typeId= @Model.ProductType})">
										<div class="product-img">
										<img src="~/img/@Model.MainImg" alt="" height="250px" width="150px">
										<div class="product-label">
											<span class="sale">-@Model.Sale%</span>
											<span class="new">NEW</span>
										</div>
									</div>
									</a>
									<div class="product-body">
										<p class="product-category">@Model.ProductTypeName</p>
										<h3 class="product-name"><a href="@Url.Action("ProductName","Home", new { productId= @Model.ProductId, typeId= @Model.ProductType})">@Model.Name</a></h3>
										<h4 class="product-price">$@Model.Price <del class="product-old-price">$@Model.OldPrice</del></h4>
										<div class="product-rating">
											@Html.Partial("StarRating",Model)
										</div>
										<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
											<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
											<button class="quick-view" data-target="#quickview" onclick="ShowSaveModal(this)" data-id="@Model.ProductId" data-type="@Model.ProductType" id="btnUpdate" ><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
										</div>
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn" data-target="#myModal" onclick="AddToCard(this)" data-id="@Model.ProductId" data-count="1"><i class="fa fa-shopping-cart"></i> add to cart</button>
										<script>
											function AddToCard(elem) {
												var id = $(elem).data("id");
												var count = 1;
												var obj = {
													ProductId: id,
													Count: count
												}
												$.ajax({
													url: "/Home/AddToCard",
													method: "POST",
													data: obj,
													success: function (data) {
														if(data)
														{
															$('#createModal').html(data);
															$("#createModal").modal("show");
														}
														else{
															window.location.href= "/Account/Index";														
														}
													},
													error: function (err) {
														console.error(err);
													}
												})
}											
										</script>
									</div>
								</div>
							</div>
