@using TexnoStore.Models.Users

@{
	Layout = null;
}

@model UserViewModel


<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V5</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" type="text/css" href="~/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/css/main.css">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
				<form asp-action="Index" asp-controller="Account" class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-53">
						Sign In With
					</span>

					<a href="#" class="btn-face m-b-20">
						<i class="fa fa-facebook-official"></i>
						Facebook
					</a>

					<a href="#" class="btn-google m-b-20">
						<img src="~/img//google.jpg" alt="GOOGLE">
						Google
					</a>
					
					<div class="p-t-31 p-b-9">
						<span class="txt1">
							Username
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Username is required">
						<input placeholder="email" asp-for="@Model.loginModel.Email" class="input100" type="text" name="username" >
						<span class="focus-input100"></span>
					</div>
					
					<div class="p-t-13 p-b-9">
						<span class="txt1">
							Password
						</span>

						<a asp-action="ForgotPassword"  class="txt2 bo1 m-l-5">
							Forgot?
						</a>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input placeholder="Password" asp-for="@Model.loginModel.Password" class="input100" type="password" name="pass" >
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<button asp-action="Index" type="submit" class="login100-form-btn">
							Sign In
						</button>
					</div>

					<div class="w-full text-center p-t-55">
						<span class="txt2">
							Not a member?
						</span>

						<a href="#" class="txt2 bo1">
							Sign up now
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

</body>
</html>

















<head>
	<title>Gretong a Ecommerce Category Flat Bootstarp Responsive Website Template | Register :: w3layouts</title>
	<link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<script type='text/javascript' src="~/js/jquery-1.11.1.min.js"></script>
	<link href="~/css/style3.css" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
	<link href="~/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="js/megamenu.js"></script>
	<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
	<script src="~/js/menu_jquery.js"></script>
</head>
<body>
	<div class="main">
	<!-- start registration -->
	<div class="registration">
		<div class="registration_left">
		<h2>new user? <span> create an account </span></h2>
		<script>
			(function() {
		
			// Create input element for testing
			var inputs = document.createElement('input');
			
			// Create the supports object
			var supports = {};
			
			supports.autofocus   = 'autofocus' in inputs;
			supports.required    = 'required' in inputs;
			supports.placeholder = 'placeholder' in inputs;
		
			// Fallback for autofocus attribute
			if(!supports.autofocus) {
				
			}
			
			// Fallback for required attribute
			if(!supports.required) {
				
			}
		
			// Fallback for placeholder attribute
			if(!supports.placeholder) {
				
			}
			
			// Change text inside send button on submit
			var send = document.getElementById('register-submit');
			if(send) {
				send.onclick = function () {
					this.innerHTML = '...Sending';
				}
			}
		
		})();
		</script>
		 <div class="registration_form">
		 <!-- Form -->
			<form asp-action="Regist" asp-controller="Account" method="post">
				<div>
						<input asp-for="@Model.loginModel.Name" placeholder="first name:" type="text" required autofocus tabindex="1">
				</div>
				<div>
					<label>
						<input placeholder="last name:" asp-for="@Model.loginModel.LastName" type="text" required autofocus tabindex="2">
					</label>
				</div>
				<div>
					<label>
						<input type="text" placeholder="email address:" asp-for="@Model.loginModel.Email" required autofocus tabindex="3">
					</label>
				</div>
				<div>
					<label>
						<input placeholder="password" data-type="password" asp-for="@Model.loginModel.Password" type="password" tabindex="4" >
						<span asp-validation-for="@Model.loginModel.Password" class="text-danger"></span>

					</label>
				</div>						
				<div>
					<label>
						<input placeholder="retype password" asp-for="@Model.loginModel.RetypePassword" type="password" tabindex="5" >
						<span asp-validation-for="@Model.loginModel.Password" class="text-danger"></span>
					</label>
				</div>	
                <div class="hr" style="color:red">@TempData["Error"]</div>

				<div>
					<input type="submit" value="create an account" id="register-submit">
				</div>
				<div class="sky-form">
					<label class="checkbox"><input type="checkbox" name="isMarried" value="true"/><i></i>i agree to TexnoStore.com &nbsp;<a class="terms" href="#"> terms of service</a> </label>
				</div>

			</form>

			<!-- /Form -->
		</div>
	</div>
	<div class="registration_left">
		<h2>existing user</h2>
		 <div class="registration_form">
		 <!-- Form -->
			<form id="registration_form" asp-action="Login" asp-controller="Account" method="post">
				<div>
					<label>
						<input placeholder="email:" type="email" tabindex="6" asp-for="@Model.loginModel.Email" required>
					</label>
				</div>
				<div>
					<label>
						<input placeholder="password" type="password" tabindex="7" asp-for="@Model.loginModel.Password" required>
					</label>
				</div>						
				<div>
					<input type="submit" value="sign in" id="register-submit">
				</div>
				
				<div class="hr">@TempData["Message"]</div>

				<div class="forget">
					<a asp-action="ForgotPassword">Forgot password?</a>
				</div>
				  <img width="30" height="30" src="~/img/google.jpg"/>
				  <a class="btn btn-info" asp-action="GoogleLogin">Login with google</a>
			</form>
			<!-- /Form -->
			</div>
	</div>
	<div class="clearfix"></div>
	</div>
	<!-- end registration -->
</div>
</body>
